In [9]:
import pandas as pd
import numpy as np
import pymysql
import sqlalchemy as alch
import os
from dotenv import load_dotenv
from getpass import getpass

In [10]:
pwd

'/Users/edwardrodger/Documents/BARCELONA_22-3/IRONHACK/Course/projects/project_4/edu_project_IV'

In [11]:
BCN_DATA = pd.read_csv("data/BCN_DATA.csv")

In [13]:
columns_to_keep = ['occurrence_mental', 'bienestar', 'estres', 'sueno', 'horasfuera', 'enfermo', 'performance', 'z_performance', 'µgm3', 'district', 'sec_noise55_day', 'hours_greenblue_day', 'access_greenbluespaces_300mbuff', 'age_yrs', 'gender']

In [14]:
BCN_DATA_F = BCN_DATA[columns_to_keep]

In [16]:
BCN_DF = BCN_DATA_F

In [27]:
for i in BCN_DF["district"]:
    if i == 'Horta-Guinardo': 
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 29223
    elif i == 'Gràcia':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 33577
    elif i == 'Eixample':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 34770
    elif i == 'Sant Martí':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 30648
    elif i == 'Sants-Montjuïc':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 27350
    elif i == 'Sant Andreu':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 27877
    elif i == 'Sarria Sant-Gervasi':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 49196
    elif i == 'Nou Barris':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 22844
    elif i == 'Les Corts':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 41548
    elif i == 'Ciutat Vella':
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 22529
    else:
        BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = None

/var/folders/q9/jkycd7cd6tqdf410bnlz4q2c0000gn/T/ipykernel_1410/3179208085.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BCN_DF.loc[BCN_DF["district"] == i, "district_mean_salary"] = 29223

In [41]:
BCN_DF.to_csv("data/BCN_DF_clean.csv", index = True)

In [39]:
import sqlalchemy as alch # bash: conda activate ironhack; python -m pip install --upgrade 'sqlalchemy<2.0'
                                                        # pip install SQLAlchemy
from getpass import getpass
import pandas as pd
import os
password = getpass()
dbName = "BCN_DF"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

········

In [40]:
BCN_DF.to_sql("BCN_DF", if_exists="replace", con=engine, index=False)

3348

In [76]:
#SQL Query to look for any patterns in older participants recording more or fewer mental health issues

In [77]:
query = ''' 
SELECT
    CASE
        WHEN age_yrs BETWEEN 18 AND 25 THEN '18-25'
         WHEN age_yrs BETWEEN 26 AND 35 THEN '26-35'
        WHEN age_yrs BETWEEN 36 AND 55 THEN '36-55'
        WHEN age_yrs BETWEEN 56 AND 76 THEN '56-76'
    END AS age_group,
    AVG(occurrence_mental),
    AVG(bienestar), 
    AVG(estres), 
    AVG(sueno), 
    AVG(horasfuera)
FROM
    BCN_DF
GROUP BY
    age_group
ORDER BY age_group;
'''
pd.read_sql_query(query, engine)

,age_group,AVG(occurrence_mental),AVG(bienestar),AVG(estres),AVG(sueno),AVG(horasfuera)
0,None,6.457831,7.307229,3.733766,6.889610,6.333333
1,18-25,6.376000,7.376258,4.010331,7.145194,4.592331
2,26-35,6.988688,7.067950,4.332176,6.879863,5.187213
3,36-55,6.637340,7.271198,4.384880,6.842141,5.319577
4,56-76,6.585062,7.091286,3.930556,6.787037,5.349372

In [78]:
#SQL Query to look for any patterns in men or women recording more or fewer mental health issues

In [79]:
query = ''' 
SELECT
    gender,
    AVG(occurrence_mental),
    AVG(bienestar), 
    AVG(estres), 
    AVG(sueno),
    AVG(horasfuera)
FROM
    BCN_DF
GROUP BY
    gender;
'''
pd.read_sql_query(query, engine)

,gender,AVG(occurrence_mental),AVG(bienestar),AVG(estres),AVG(sueno),AVG(horasfuera)
0,Mujer,6.687122,7.238425,4.328258,6.892794,5.154352
1,Hombre,6.691903,7.187962,4.072432,6.910464,5.452444
2,None,5.500000,6.600000,3.700000,6.700000,3.200000
3,Otra,3.000000,6.600000,3.800000,7.000000,0.400000

In [80]:
#SQL Query to look for patterns in people from different districts reporting more or fewer mental health issues

In [81]:
query = ''' 
SELECT
    district,
    AVG(occurrence_mental),
    AVG(bienestar), 
    AVG(estres), 
    AVG(sueno),
    AVG(horasfuera)
FROM
    BCN_DF
GROUP BY
    district;
'''
pd.read_sql_query(query, engine)

,district,AVG(occurrence_mental),AVG(bienestar),AVG(estres),AVG(sueno),AVG(horasfuera)
0,Horta-Guinardo,6.384615,6.948454,4.659574,6.575916,6.062827
1,Gràcia,6.718504,7.287968,4.267490,6.916155,5.282435
2,Eixample,6.688027,6.959459,4.344291,6.876501,5.129296
3,Sant Martí,6.703148,7.153846,4.163859,6.738863,4.450455
4,Sants-Montjuïc,6.953901,7.138298,4.338078,6.524823,5.267399
5,Ciutat Vella,6.519313,7.519313,4.593750,7.477876,5.264693
6,Sant Andreu,6.683761,7.512821,3.964602,7.643478,5.504292
7,Sarria Sant-Gervasi,6.474286,7.520000,3.831325,6.927273,5.631429
8,Nou Barris,6.887850,6.654206,5.019608,6.524272,5.785047
9,None,6.496774,7.464516,3.894366,6.809859,6.677419
10,16,6.507463,7.761194,4.181818,6.676923,4.431818
11,Les Corts,7.125000,7.812500,3.065574,7.380952,5.183333

In [82]:
#Interesting further steps here could be to scrape info or find another database on average income in these neighbourhoods
#Potential socio-economic factors, for example in Nou Barris reporting lower bienestar highest stress, low sueño.

In [83]:
query = ''' 
SELECT
    district,
    AVG(performance)
FROM
    BCN_DF
GROUP BY
    district;
'''
pd.read_sql_query(query, engine)

               district  AVG(performance)
0        Horta-Guinardo         45.257779
1                Gràcia         47.460933
2              Eixample         47.648896
3            Sant Martí         45.931447
4        Sants-Montjuïc         50.598583
5          Ciutat Vella         47.867348
6           Sant Andreu         51.612481
7   Sarria Sant-Gervasi         47.237122
8            Nou Barris         42.206051
9                  None         43.076593
10                   16         49.306591
11            Les Corts         45.496545